* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: inside;
  border: none;
}

body {
  font-size: 1.5rem;
  font-family: sans-serif;
}

main {
  display: grid;
  place-items: center;
  padding: 1rem;
}

article {
  display: flex;
  flex-wrap: wrap;
}

figure {
  width: 20vw;
  height: 100%;
  border: 2px solid gray;
  img {
    width: 100%;
  }
}

aside {
  line-height: 1.5;
  .desc {
    width: 35vw;
    margin: 0 1rem;
  }
  
  .desc{
    .disabledText{
      text-decoration: line-through;
    }
  }
  
  .details {
    margin: 0 1rem;
    display: flex;
    gap: 2rem;
    ul {
      flex-flow: column wrap;
    }
    p {
      text-transform: capitalize;
      border: 1px solid transparent;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.colorBox {
  width: 40px;
  height: 40px;
  margin-top: 5px;
}

.interact {
  p {
    text-align: right;
  }
  button {
    user-select: none;
    margin-top: 1rem;
    background-color: royalblue;
    border-radius: 8px;
    color: white;
    font-size: 1.3rem;
    width: 100px;
    height: 40px;
    transition: all ease-in-out 0.2s;
    &:hover {
      filter: brightness(1.1);
      cursor: pointer;
    }
    &:active {
      transform: scale(0.9);
    }
  }

  .disabledButton {
    background-color: #d8d8d8;
    &:hover {
      filter: brightness(.9);
    }
    &:active {
      cursor: not-allowed;
      transform: none;
    }
  }
}
